html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  font-family: open sans, bold;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

h1,
.show-starred-ideas,
.save-button,
.comment {
  color: #e9e9f3;
}

.show-starred-ideas {
  padding: 0px;
  margin: auto;
  border: solid #353567 3px;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

aside {
  font-family: open sans, bold;
  background-color: #1f1f3d;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #353567;
  border-radius: 2px;
}

#input-form-body {
  background-color: #a9aad2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 60%;
  flex-wrap: nowrap;
}

.idea-input-form {
  flex-basis: 0;
  width: 40%;

}

.idea-title-input {
  height: 15%;
  width: 100%;
  border: 1px solid #353567;
  border-radius: 2px;

}

.idea-body-input {
  flex-grow: 1;
  height: 60px;
  width: 100%;
  border: 1px solid #353567;
  border-radius: 2px;

}


.save-button {
  width: 100%;
  height: 25px;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  border: 1px solid #353567;
  border-radius: 2px;
}


img {
  height: 25%;
  width: 25%;
}

.starred-box{
  display: flex;
  flex-direction: column;
}

.idea-input-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;

}


.search-area {
  display: flex;
  width: 40%;
}

.search-icon {
  width: 75%;
  height: 75%;
  margin: 0;
  padding: 0;
}


.search-button {
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border: 0;
}

#search-bar {
  padding: 0px;
  display: inline;
  margin: 0;
  width: 100%;
  border: 1px solid #353567;
  border-radius: 2px;
}



.idea-card{
  border-style: solid;
  display: grid;
  height: 15%;
  width: 15%;
}


/* Grid layout for idea cards. 
They extend automagically and are even a part.
Used CSS grid template.  */

.idea-grid{
  height: 40%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
}

.dark-purple {
  background-color: #1f1f3d;
  border-radius: 3px;
}

.starred-box {
  padding: 8%;
  border-top: solid #353567 2px;
  border-bottom: solid #353567 2px;
}


.show-starred-ideas,
.idea-bottom {
  background-color: #5356a4;
  padding: 5%;
}

h4 {
 color: #bfbfdd;
}
