body{
  display:flex;
  font-family: open sans, bold;
}

h1,
.show-starred-ideas,
.save-button,
.comment {
  color: #e9e9f3;
}

aside {
  display: flex;
  flex-direction: column;
  border-style: solid;
  background-color: #1f1f3d;
}

#input-form-body {
  background-color: #a9aad2;
  border-style: solid;
}

img {
  height: 5%;
  width: 5%;
}

.starred-box{
  display: flex;
  flex-direction: column;
}

.idea-input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.search-input{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.search-button {
  display:flex;
  justify-content: flex-start;
  width: 2%;
  height: 2%;
}

.idea-box{
  border-style: solid;
  display: grid;
  height: 15%;
  width: 15%;
}

.idea-grid{
  display: grid;
  border-style: solid;
  background-color: #eaeaf4;
}

.dark-purple {
  background-color: #1f1f3d;
  border-radius: 3px;
}

.starred-box {
  padding: 8%;
  border-top: solid #353567 2px;
  border-bottom: solid #353567 2px;
}


.show-starred-ideas,
.idea-card-bottom {
  background-color: #5356a4;
  padding: 5%;
}

h4 {
 color: #bfbfdd;
}
